# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual envs
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Local DB / dumps
*.sqlite
*.sqlite3
*.db

# Env files
.env
.env.local
